body {
  background-color: #f5f5f5;
  font-family: sans-serif;
}

.card-form {
  display: grid;
  grid-template-columns: 1fr 1fr auto auto auto;
  grid-template-rows: auto auto auto;
  gap: 20px;
  width: 400px;
  margin: 40px 0 0 40px;
  position: relative; 
}


.card-front {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
  grid-column: 1 / span 3;
  position: relative;
  width: 400px;
  height: 250px;
  z-index: 2; 
  padding: 0 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #dddddd;
  box-shadow: 1px 1px 1px 2px #c7c7c7;
}


.card-image {
  grid-column: 3;
  grid-row: 1;
  justify-self: end;
  height: 55px;
}

/* Total label */
#total {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  font-size: 18px;
  color: #020202;
}

/* Card number */
.number {
  grid-column: 1 / span 3;
  grid-row: 2;
}

.number label,
.name label,
.expiration label {
    grid-column: 3;
    grid-row: 3;
  display: block;
  font-size: 1.2em;
  margin-bottom: 4px;
  color: #020202;
}

.number input {
  width: 100%;
  height: 23px;
  padding: 6px;
  font-size: 1.2em;
}

/* Card holder */
.name {
  grid-column: 1/3;
  grid-row: 3;
}

.name input {
  width: 85%;
  height: 23px;
  padding: 6px;
  font-size: 14px;
}

/* Expiration */
.expiration {
  grid-column: 3;
  grid-row: 3;
  align-items: center;
}

.expiration label {
    display: block;
    font-size: 1.2em;
    width: 100%;
}

.expiration input {
  width: 40px;
  height: 24px;
  padding: 4px;
  font-size: 18px;
  margin-right: 4px;
  text-align: left;
}

.expiration #month {
    justify-self: start;
}

.expiration #year {
    justify-self: end;
}

/* Back of the card */
.card-back {
  position: absolute;
  top: 50px;       /* shift down slightly */
  right: -150px;    /* shift right slightly */
  width: 400px;
  height: 220px;
  padding: 20px;
  background-color: #e0e0e0;
  border-radius: 6px;
  z-index: 1;      /* sits below card-front */
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr 1fr auto;
  gap: 10px;
}

/* Magnetic stripe */
.card-back::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #444444;
}

/* CVV label and input */
.card-back label, input {
  /* display: inline-block; */
  color: #020202;
  gap: 0;
  align-self: center;
}

.card-back label {
    grid-column: 3;
    grid-row: 3;
    font-size: 14px;
    justify-self: end;
    align-self: start;
    margin-bottom: 30px;
}

.card-back input {
    grid-column: 3;
    grid-row: 3;
  width: 50px;
  height: 15px;
  padding: 6px;
  font-size: 14px;
  text-align: left;
  justify-self: end;
  align-self: end;
}


/* Submit button */
button {
  grid-column: 4/6;
  grid-row: 4/5;
  box-shadow: 2px 2px 5px 5px #c7c7c7;
  justify-self: end;
  background-color: #eeeeee;
  padding: 8px 16px;
  font-size: 14px;
  border: 1px solid #0b0b0b;
  border-radius: 8px;
  margin-top: 20px;
}
