body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#character-card {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card {
    max-width: 400px;
}

img {
    display: block;
    width: 100%;
    height: 350px;
    align-items: center;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 20px 20px 0 0;
}

.name {
    border-bottom: 1px solid #7af1f5;
    background-color: rgb(10, 13, 59);
}

h1 {
    margin: 0;
    color: #7af1f5;
}

.info{
    background-color: rgb(10, 13, 59);
    padding-top: 60px;
}

.info p{
    color: #7af1f5;
    margin: 0;
    padding-bottom: 20px;
    gap: 1rem;
}

.buttons {
    background-color: rgb(10, 13, 59);
}